<p id="notice"><%= notice %></p>

<info>
  <h1>Rescue<strong> Mission</strong></h1>
  <p>write your best Question</p>
</info>

<section class="page">
  <h1><%= markdown(@question.title) %></h1>
        <strong>Description:</strong>
        <%= markdown(@question.description) %>
</section>

  <div class="row">
    <div class="page">
      <h1>Answers</h1>
      <% @answers.each do |answer| %>
      <% if answer.best_answer == true %>
        <h4>Best</h4>
      <% end %>
        <%= markdown(answer.body) %> - <%= link_to 'Best Answer?', answer_path(answer), method: :put, class: "button" %>
      <% end %>
    </div>
  </div>

<%= link_to 'Answer',new_question_answer_path(@question), class: "button" %>
<%= link_to 'Back', root_path, class: "button"%>
