<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= markdown(@question.title) %>

  <br>

  <strong>Description:</strong>
  <%= markdown(@question.description) %>

  <br>

  <% @answers.each do |answer| %>
    <br>
  <strong>Answer:</strong>
  <% if answer.best_answer == true %>
   (Best Answer!)
 <% end %>
    <br>
  <%= markdown(answer.body) %> - <%= link_to 'Best Answer', answer_path(answer), method: :put %>
  <% end %>

</p>

<%= link_to 'Answer',new_question_answer_path(@question) %>
<%= link_to 'Back', questions_path %>
